<h1><%= @vendor.name %></h1>

<p>Contact Info: </p>
<p>name: <%= @vendor.contact_name %></p>
<p>phone: <%= @vendor.phone %></p><br>
<p>Credit Accepted?: <%= @vendor.credit_accepted %></p><br>
<p>Description: <%= @vendor.description %></p>
